# Data Cleaning - Youtube channel dataset

In [1]:
%%HTML
<style type="text/css">
table.dataframe td, table.dataframe th {
    border: 1px  black solid !important;
  color: black !important;
}
</style>

In [21]:
import pandas as pd

In [22]:
ytube = pd.read_csv('top-5000-youtube-channels-data-from-socialblade.csv')

In [23]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433

In [24]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null object
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

In [25]:
ytube['Rank'] = ytube['Rank'].str[0:-2].apply(lambda x : x.replace(',','')).astype('int')
# ytube['Rank'].str[0:-2].str.replace(',','').astype('int')

In [26]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
Rank             5000 non-null int32
Grade            5000 non-null object
Channel name     5000 non-null object
Video Uploads    5000 non-null object
Subscribers      5000 non-null object
Video views      5000 non-null int64
dtypes: int32(1), int64(1), object(4)
memory usage: 215.0+ KB

In [29]:
ytube[ytube['Subscribers'].str.contains('-')].index

Int64Index([  17,  108,  115,  142,  143,  152,  156,  175,  180,  189,
            ...
            4892, 4893, 4895, 4912, 4936, 4941, 4948, 4956, 4961, 4990],
           dtype='int64', length=387)

In [30]:
len(ytube[ytube['Subscribers'].str.contains('-')].index)

387

In [31]:
sub_drop = ytube[ytube['Subscribers'].str.contains('-')].index

In [32]:
ytube.drop(labels=sub_drop, axis=0, inplace=True)

In [34]:
ytube['Subscribers'] = ytube['Subscribers'].astype('int')

In [35]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4613 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4613 non-null int32
Grade            4613 non-null object
Channel name     4613 non-null object
Video Uploads    4613 non-null object
Subscribers      4613 non-null int32
Video views      4613 non-null int64
dtypes: int32(2), int64(1), object(3)
memory usage: 216.2+ KB

In [41]:
#ytube['Video Uploads'].astype('int')
video_upload_drop = ytube[ytube['Video Uploads'].str.contains('-')].index

In [42]:
ytube.drop(labels=video_upload_drop, axis=0, inplace=True)

In [43]:
ytube['Video Uploads'] = ytube['Video Uploads'].astype('int')

In [45]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null int32
Grade            4610 non-null object
Channel name     4610 non-null object
Video Uploads    4610 non-null int32
Subscribers      4610 non-null int32
Video views      4610 non-null int64
dtypes: int32(3), int64(1), object(2)
memory usage: 198.1+ KB

In [50]:
ytube[ytube['Channel name'] == '']

Empty DataFrame
Columns: [Rank, Grade, Channel name, Video Uploads, Subscribers, Video views]
Index: []

In [53]:
ytube['Grade'].unique()

array(['A++ ', 'A+ ', 'A ', 'A- ', 'B+ '], dtype=object)

In [54]:
map_data = {'A++ ' : '5','A+ ' : '4','A ' : '3','A- ' : '2','B+ ' : '1'}

In [56]:
ytube['Grade'] = ytube['Grade'].map(map_data)

In [57]:
ytube.head()

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1,5,Zee TV,82757,18752951,20869786591
1,2,5,T-Series,12661,61196302,47548839843
2,3,5,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4,5,SET India,27323,31180559,22675948293
4,5,5,WWE,36756,32852346,26273668433

In [61]:
ytube['Grade'] = ytube['Grade'].astype('int')

In [62]:
ytube.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4610 entries, 0 to 4999
Data columns (total 6 columns):
Rank             4610 non-null int32
Grade            4610 non-null int32
Channel name     4610 non-null object
Video Uploads    4610 non-null int32
Subscribers      4610 non-null int32
Video views      4610 non-null int64
dtypes: int32(4), int64(1), object(1)
memory usage: 180.1+ KB